{% extends "base.j2" %}

{% block endhead %}
{% include "juvia.j2" %}
{% endblock endhead %}

{% block bodyclasses %} class="biblio" {% endblock %}

{% block main -%}
<article class="biblio">

{% if resource.meta.title %}
<h1 class="title">{{ resource.meta.title }}</h1>
{% endif %}

<div class="main-text">
{% mark book -%}
{% filter markdown2|typogrify -%}
{% block book -%}{%- endblock %}
{%- endfilter %}
{%- endmark %}
</div>

<hr class="post-bottom">
{% if resource.meta.comments_status == 'open' %}
<div class="comments" id="comments"></div>
{% endif %}

</article>

{%- endblock %}
